body {
  margin: 0;
  font-family: Arial;
  background: #f5f5f5;
}

header {
  background: #e23744;
  padding: 20px;
  color: white;
  text-align: center;
}

header input {
  width: 60%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
}

.food-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px;
}

.card {
  background: white;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
}

.card img {
  width: 100%;
}

.card h3 {
  margin: 10px;
}

.card p {
  margin: 10px;
  color: gray;
}

