body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fff7f0;
}

/* Header */
header {
  background: green;
  padding: 15px;
  text-align: center;
  color: white;
}

header input {
  width: 60%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
}

/* Container */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 30px;
}

/* Card */
.card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.card h3 {
  margin: 10px;
}

.card p {
  margin: 10px;
  color: gray;
}

/* Footer */
footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 10px;
}

